# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#misc
*.swp
log
processor
ignore/
bins/
mips_cpu/processor
mips_cpu/log
bins2/
logs/
test_data_pipeline/
cycle_log
.vscode/c_cpp_properties.json
/.vscode
